* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #020d18;
  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: #f4f4f4;
}

.container {
  /* padding: 1.5rem; */
  max-width: 100%;
}
